$font-serif: 'IBM Plex Serif';
$font-sans-serif: 'Inter var';
$font-sans-serif-reg: 'Inter';
$exp-font-sans-serif: 'Inter var experimental';

$font-stack-base: -apple-system, BlinkMacSystemFont, 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
$font-stack-monospace: Monaco, Consolas, 'Lucida Console', monospace;
$font-stack-serif: 'IBM Plex Serif';
$font-stack-sans-serif: 'Inter var', 'Inter var experimental', 'Inter';
