.indexWrap {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: stretch;
  height: 100%;

  .loginWrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    height: 100%;
    min-height: 400px;
    padding: 1.3rem;
  }
}
