@mixin skewed-background {
    &:after,
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        transform: skew(45deg);
        transform-style: preserve-3d;
        mix-blend-mode: multiply;
    }
}

@mixin glow-around {
    @media (prefers-reduced-motion: no-preference) {
        &::after,
        &::before {
            transition: 700ms border-color cubic-bezier(0.36, 1, 1, 0.1),
                200ms transform cubic-bezier(0.36, 0, 1, 1);
        }
    }
    &::after,
    &::before {
        position: absolute;
        //z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: difference;
        content: '';
        transform: scale3d(1, 0, 1);
        border-radius: 1cm;
    }

    &:hover,
    &:focus {
        outline: 0;

        &::after,
        &::before {
            border-right: 1mm solid rgba(172, 231, 255, 0.72);
            border-left: 1mm solid rgba(172, 231, 255, 0.72);
            transform: scale3d(1, 1, 1);
        }
    }
}

@mixin glow-over {
    @media (prefers-reduced-motion: no-preference) {
        &::after,
        &::before {
            transition: 700ms border-color cubic-bezier(0.36, 1, 1, 0.1);
        }
    }
    &::after,
    &::before {
        position: absolute;
        //z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        border-radius: 1cm;
        mix-blend-mode: difference;
    }

    &:hover,
    &:focus {
        outline: 0;

        &::after,
        &::before {
            border: 1px solid rgb(172, 231, 255);
        }
    }
}

@mixin line-grow-center {
    &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
        width: 100%;
        height: 3px;
        content: '';
        transform: scaleX(0);
        transform-origin: center;
        border-radius: 5px;
        background-color: rgb(172, 231, 255);
        transform-style: preserve-3d;
        @media (prefers-reduced-motion: no-preference) {
            transition-timing-function: cubic-bezier(0.36, 1, 1, 0.1);
            transition-duration: 100ms;
            transition-property: all;
        }
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}
