.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  .mainContent {
    position: relative;
    flex-grow: 1;
    padding: 5rem 0 0 3.5rem;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .header {
    position: relative;
    margin: 0 auto;
  }
}

.navWrap {
  ::-webkit-scrollbar {
    display: none;
  }
  overflow: no-display;
  height: 100vh;
  min-height: 100%;
  scrollbar-width: 0; //firefox
  width: 100%;
  position: relative;
}
.nav {
  display: flex;
  align-items: stretch;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: stretch;
  ::-webkit-scrollbar {
    display: none;
  }
}

.bold {
  font-weight: bold;
}

@keyframes float-in {
  from {
    transform: scale(0) translateY(-200px) translateZ(0);
    opacity: 0;
  }
}

/**
    MENU TOGGLE
    */
.mainMenuTriggerWrapper {
  flex: 1;
  z-index: 10000;
  position: relative;
  display: inline-grid;
  align-self: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transform-origin: center;
  border: none !important;
  outline: none !important;
  background-blend-mode: difference;
  mix-blend-mode: hard-light;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-style: preserve-3d;

  @media (prefers-reduced-motion: no-preference) {
    .mainMenuTrigger {
      transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .text {
      transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      animation-name: float-in;
      animation-duration: 200ms;
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      animation-delay: inherit;
    }
  }

  // button
  .mainMenuTrigger {
    position: relative;
    display: block;
    cursor: pointer;
    pointer-events: auto;
    opacity: 0.7;
    border: none !important;
    outline: none !important;
    background: unset;
    mix-blend-mode: inherit;

    grid-column: 1;
    grid-row: 1;

    // the three spans
    .span {
      position: absolute;
      top: 50%;
      left: 21px;
      width: 45px;
      height: 3px;
      margin-top: -2px;
      transform-origin: center;
      opacity: inherit;
      border: 1px;
      outline: none !important;
      transform-style: preserve-3d;

      &:first-child {
        transform: translateY(-5px);
      }

      &:nth-child(2) {
        width: 23px;
      }
    }

    .text {
      font-variant: petite-caps;
      position: absolute;
      top: 0;
      left: 50%;
      height: auto;
      margin: 0;
      width: 100%;
      cursor: pointer;
      transition-property: transform, opacity;
      transform: translate(-50%, -5px);
      text-align: center;
      white-space: nowrap;
      outline: none !important;
      transform-style: preserve-3d;
      font-variation-settings: 'wght' 300, 'GRAD' 100, 'slnt' 33;
    }

    &:hover,
    :focus {
      opacity: 1;

      .text {
        transform: translate(-50%);
        opacity: 1;
      }

      .span {
        filter: brightness(130%) contrast(120%);
      }
    }
  }
}

.skipToMenuLink {
  display: none;
  visibility: hidden;
}
